.App {
  text-align: center;
}

.Hero-Image {
  max-width: 500px;
}

@media (max-width: 767px) {
  .NavbarTitleBrand {
    font-weight: 800;
  }
}

@media (min-width: 768px) {
  .NavbarTitleBrand {
    font-weight: 800;
  }
}

.NavbarTitleText {
  margin-left: 5pt;
  color: #eeeeee;
}