.Hero-Image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 499px) {
  .Hero-Image {
    max-width: 90%;
  }
}

@media (min-width: 501px) {
  .Hero-Image {
    max-width: 500px;
  }
}